body {
 background-color: rgb(194, 194, 194);
  display: flex;

  height: -webkit-fill-available;
}

img {
  display: flex;
  height: 600px;
  width: auto;
  margin: 0 auto;
  align-self: center;
}




* {
  -webkit-transition: all .15s;
  transition: all .15s;
  outline: none;
}

.bubble {
  background-color: rgba(252, 244, 244, 0.897);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: fixed;
  z-index: -1;
  bottom: 0;
  display: block;
  opacity: 0;
}
